/* font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

/* variable color */
:root {
  --primaryColor: #242e6c;
  --secondaryColor: #f24b46;
  --tertiaryColor: #ffffff;
  --textColor: #455293;
}

/* desktop version */
@media (min-width: 992px) {
  .navbar-nav .nav-link {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .nav-link {
    text-transform: uppercase;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #f24b46;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .jumbotron {
    margin-top: -220px;
    height: 900px !important;
  }
  .jumbotron::after {
    content: "";
    display: none !important;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
  }

  .home h1 {
    font-weight: 700;
    margin-top: 6em !important;
    font-size: 60px !important;
    color: var(--primaryColor);
    white-space: nowrap;
    line-height: 1;
  }
  .home h3 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--textColor);
    white-space: nowrap;
    line-height: 1;
  }
  .home p {
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 2em;
    text-align: left !important;
    color: var(--secondaryColor);
  }
  .work {
    text-align: left !important;
  }
}

/* style */
body {
  font-family: "Lato", sans-serif;
}

/*logo navbar */
.cs-logo {
  width: 20px;
  height: 20px;
  margin-top: -5px;
}
/* navbar */
.navbar {
  position: relative;
  z-index: 1;
}
span {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 0.3em;
}
.nav-link {
  color: var(--primaryColor);
  font-weight: 400;
  margin-left: 2.4em;
}
/* contact button */
.contact-button {
  background-color: var(--primaryColor);
  color: white;
  border-radius: 2em;
  border: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: 3em;
}

/* home */
.jumbotron {
  background-image: url(pict/back2.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 70vmax;
  height: 380px;
  position: relative;
}
.jumbotron .container {
  z-index: 1;
  /* position: relative; */
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  position: absolute;
  bottom: 0;
}

.home h1 {
  margin-top: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 40px;
  color: var(--primaryColor);
  white-space: nowrap;
  line-height: 1;
}
.home h3 {
  font-weight: 700;
  font-size: 30px;
  color: var(--textColor);
  white-space: nowrap;
  line-height: 1;
}
.home p {
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  text-align: center;
  color: var(--secondaryColor);
}
/* section margin */
.section-margin {
  margin-top: 100px;
}
/* about */
.about {
  text-align: center;
}
.about h1 {
  margin-bottom: 50px;
}
.about .deskripsi {
  font-size: 20px;
  /* width: 60%; */
  margin: auto;
}
.about img {
  background-size: cover;
  width: 55vmax;
}
/* service */
.service {
  text-align: center;
  background-image: linear-gradient(to top, #020e35 0%, #020e35 24%, #fff 0%, #ffff 100%);
}
.service h1 {
  margin-bottom: 50px;
}
.service img {
  padding-bottom: 5rem;
}
.service h5 {
  color: white;
  font-size: 26px;
  padding-bottom: 15px;
}
.service span {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: rgb(252, 248, 248);
  background-color: #020e35;
  border-radius: 50%;
  border: 10px solid #020e35;
}
/* work */
.work {
  background-image: linear-gradient(to top, #020e35 0%, #020e35 100%, #fff 0%, #ffff 100%);
  padding-bottom: 50px;
  color: #fff;
  background-repeat: repeat;
  background-size: 100vmax;
  text-align: center;
}
.work h1 {
  text-align: center;
}
.work h3 {
  font-weight: 700;
  font-size: 30px;
}
.work h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 19px;
}
.text-work {
  letter-spacing: 3px;
}
.sub-text-work {
  margin-top: 55px;
  font-size: 20px;
}
.work img {
  border: 7px;
  border-style: groove;
}
.work .work-button {
  margin-top: 50px;
  text-align: center;
}
.work .btn {
  background-image: linear-gradient(to top, #f9795a 0%, #ff3300 100%, #fff 0%, #ffff 100%);
  color: #fff;
  transition: 0.4s;
}
.work .btn:hover {
  box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: black;
  background-image: linear-gradient(to top, 0% #ff3300, #f9795a 100%, #fff 0%, #ffff 100%);
}
/*contact*/
.contact {
  margin: 3rem 0 2rem;
}
.contact .text-contact .text-question {
  color: var(--text-color);
  font-size: 20px;
  letter-spacing: 1px;
}
.contact .text-contact h1 {
  color: var(--text-color);
  font-size: 4rem;
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.contact .text-contact span {
  color: var(--secondaryColor);
  font-size: 52px;
}
.contact .form-contact .btn-contact {
  color: white;
  background: #020e35;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
}
